* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Roboto', Arial sans-serif;
}

body{
  background-color: lightgreen;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: grid;
  place-items: center;
  overflow: auto;
}

.layout{
  background-color: lightblue;
  width: 100%;
  max-width: 720px;
  min-height: 500px;
  height: auto;
  border-radius: 10px;
  /* border: 2px solid black; */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.468);
}

.upper-container h2{
  font-family: 'Honk', Arial, system-ui;
  font-size: 2.5rem;
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 30px 25px 20px 25px;
}

.todo-icon{
  width: 40px;
  margin-top: 9px;
}

form{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  /* border-bottom: 2px solid black; */
  padding: 0px 15px 15px 25px;
}

.todo-input{
  /* background-color: rgb(255, 255, 255); */
  font-size: 1rem;
  font-weight: 500;
  color: black;
  height: 45px;
  width: 100%;
  max-width: 380px;
  border: none;
  outline: none;
  border-radius: 19px;
  padding-left: 10px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.281);
}

input::placeholder{
  font-style: italic;
}

.submit-btn{
  font-family: 'Honk', Arial, system-ui;
  background-color: lightgreen;
  font-size: 1.4rem;
  height: 45px;
  min-width: 85px;
  border: none;
  margin-left: -30px;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 200ms;
  box-shadow: inset -2px 2px 5px rgba(0, 0, 0, 0.244);
}

.submit-btn:hover{
  transform: scale(1.05);
}

.categories{
  display: flex;
  align-items: center;
  gap: 3rem;
  /* justify-content: space-around; */
  width: 90%;
  padding-left: 30px;
}

.options{
  font-family: 'Honk', Arial, system-ui;
  font-size: 2rem;
  font-weight: 700;
  transition: all 200ms;
  cursor: pointer;
}

.active-option{
  border-bottom: 4px solid rgb(0, 0, 0);
}

.remove-btn{
  background-color: transparent;
  color: white;
  font-family: 'Honk', Arial, system-ui;
  font-size: 2rem;
  font-weight: 600;
  white-space: nowrap;
  padding: 4px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  max-width: 150px;
  flex: 1 0;
  cursor: pointer;
  transition: background-color 150ms;
}

.remove-btn:hover{
  background-color: rgb(255, 53, 53);
}

/* ----------------------------------------------lower-cont---------------------------------------------- */

ul{
  width: 100%;
  height: 100%;
  padding: 5px 10px 5px 10px;
}

ul li {
  position: relative;
  display: flex;
  align-items: center;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
  width: 100%;
  padding: 10px 0px 10px 50px;
  position: relative;
}

ul li::before{
  content: '';
  display: grid;
  place-items: center;
  
  border-radius: 50%;
  height: 25px;
  width: 25px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.226);

  position: absolute;
  left: 10px;
}

.remove-edit-container{
  position: absolute;
  right: 0;

  display: flex;
  gap: 1rem;
}

.remove-edit-container img{
  width: 25px; 
  height: 22px;

  cursor: pointer;
}

.remove-edit-container img:first-child:hover{
  background-color: rgba(250, 250, 210, 0.733);
  border-radius: 5px;
  padding: 3px;
  transform: scale(1.5);
}


.task-done{
  color: rgb(55, 55, 55);
  font-style: italic;
  text-decoration: line-through;
}

.task-done::before{
  background-image: url("/svg-icons/done-black-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}